<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <title>Admin Signup</title>
</head>

<body>
    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form>
                    <h6 id="demo"></h6>

                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">Hospital Name:</label>
                        <input type="text" class="form-control" id="name" aria-describedby="name">
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputEmail1" class="form-label">Phone:</label>
                        <input type="number" class="form-control" id="phone" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Address:</label>
                        <input type="address" class="form-control" id="address">
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Pin:</label>
                        <input type="address" class="form-control" id="pin">
                    </div>
                    <div class="mb-1">
                        <label for="exampleInputPassword1" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-1 otp">
                        <label for="exampleInputPassword1" class="form-label">Password:</label>
                        <input type="text" class="form-control" id="password">
                    </div>
                    <button type="button" class="btn btn-primary submit" onclick="getLocation()" >Submit</button>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

//    $(document).ready(function(){
//        $(document).on('click','.submit',function(){
//            var x = document.getElementById("demo");
//             var geocoder =  new google.maps.Geocoder();
//             geocoder.geocode( { 'address': $('#city').val()}, function(results, status) {
//             if (status == google.maps.GeocoderStatus.OK) {
//                 $('#demo').text("location : " + results[0].geometry.location.lat() + " " +results[0].geometry.location.lng()); 
//             } else {
//                 $('#demo').text("Something got wrong " + status);
//                 }
//             });
//            var name = $("#name").val();
//            var email = $("#email").val();
//            var phone = $("#phone").val();
//            var address = $("#address").val();
//            var pin = $("#pin").val();
//            var password = $("#password").val();
           
//             var data = {name:name,email:email,phone:phone,address:address,pin:pin,password:password};
//            console.log("data-->",data);
//            $.ajax({
//                url:'/admin-signup',
//                type:"POST",
//                data:data,
//                 success: function(res){
//                     if(res.success){
//                         alert(res.success);
//                     }else{
//                         alert(res.error)
//                     }
//                 }
//            })
//        })
//    })
</script>

</html>